*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
.DS_Store
.idea/
.idea_modules/
target
num/*
common/target
ConnectedComponent/target
DecisionTree/target
KMeans/target
KMeans/out
LabelPropagation/target
LinearRegression/target
LogisticRegression/target
MatrixFactorization/target
PageRank/target
PCA/target
PregelOperation/target
ShortestPaths/target
ShortestPaths/out
SQL/target
Streaming/target
StronglyConnectedComponent/target
SVDPlusPlus/target
SVM/target
Terasort/target
TriangleCount/target
